html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: 0; 
}
input:focus {
  outline:none !important;
}
html{
  font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5% */
}
body{
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 1.7;
  color:#555 !important;
  background-color: #ebebeb !important;
}
.main_body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.app_container{
  width: 60vw;
  height: 80vh;
}
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
img{
  height: 40px;
  border-radius: 5px;
}
p{
  margin: 5px 0 !important;
  font-size: 1.2rem;
  line-height: 1 !important;
}
.media{
  display: flex;
}
span{
  font-weight: bold;
  color: rgb(70, 153, 221);
  padding-left: 20px;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px 2px 0;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.toast-body{
  display: flex;
  align-items: center;
  color: rgb(212, 41, 63);
}
.bd-placeholder-img{
  margin-right: 10px;
  border-radius: 4px;
  fill: rgb(212, 41, 63);
}
#mapid { 
  height: 40vh; 
  width: 100%;;
}
.img_error{
  opacity: 0.3;
  filter: grayscale(1);
}
.error-item{
  color: gray !important;
}
.btn_submit{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
input{
  font-size: 1rem !important;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Browse...';
  display: inline-block;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: #357ebd;
  background-color: #428bca;
  color: white;
}
.custom-file-input:active::before {
  background-color: #357ebd;
  border: 1px solid #276aa5;
}
.form-inline{
  display: flex;
  align-items: center;
}